<div id="<%= dom_id youtube_entry %>">
  <p>
    <strong>Title:</strong>
    <%= youtube_entry.title %>
  </p>

  <p>
    <strong>Embed link:</strong>
    <%= youtube_entry.embed_link %>
  </p>

  <p>
    <strong>User:</strong>
     <%= youtube_entry.user_uid %>
  </p>

</div>
