<h1>Editing youtube entry</h1>

<%= render "form", youtube_entry: @youtube_entry %>

<br>

<div>
  <%= link_to "Show this youtube entry", @youtube_entry %> |
  <%= link_to "Back to youtube entries", youtube_entries_path %>
</div>
